.videoFrameDiv {
  box-shadow: -10px -10px 10px grey;
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.documents {
  position: relative;
  width: 100%;
}

.titleStyle {
  display: flex;
  flex: 4;
  height: 80%;
  flex-direction: column;
  justify-content: center;
  background-color: #E7CCFA;
  z-index: 5;
  box-shadow: 10px 10px 5px grey;
}

.innerInterface {
  background-color: yellow;
}

.SFFont {
  font-family: Lato;

}

.overlay {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 0;
  opacity: 0;
  height: 10%;
  transition: 1s ease;
  width: 100%;
}

.overlay-one{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  opacity: 0;
  height: 100%;
  transition: 1s ease;
  width: 100%;
  left: 0;
  right: 0;
  position: relative;
}


.container:hover .overlay {

  opacity: 1;
  width: 100%;
}
.container:hover .overlay-one {
  opacity: 1;
  width: 100%;
}

.text {
  word-wrap: break-word;
  font-size: 2.5vw;
  position: relative;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.container {
  flex: 7;
  background-color: white;
  position: relative;
}

.videoFrame {
  display: flex;
  flex: 1;
  box-shadow: 5px 5px 5px grey;
}
