.loginForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loginButton {
  background-color: blue;
}

.question {
  background-color: blue;
}

.quiz {
  display: flex;
  flex-direction: column;
  flex: 1;
  top: 0%;
  margin: 1%;
  background-color: green;
  overflow-y: scroll;
}
